#gossip-container
  #head-container
    #image-container
    #headparagraph 
      %p
        Please comment on these questions!
  - @gossips.each do |gossip|
    %div.link-container
      = link_to gossip.content, comment_show_path(gossip)