<div id = "mycarousel" class ="carousel slide">
  <ol class = "carousel-indicators">
    <li data-target ="#mycarousel" data-slide-to = "0" class = "active"></li>
    <li data-target ="#mycarousel" data-slide-to = "1"></li> 
    <li data-target ="#mycarousel" data-slide-to = "2"></li> 
  </ol>
  <div class = "carousel-inner">
    <div class = "item active" id = "active1">
      <!--<img src = "" alt ="image-1" class = "img-responsive">-->
      <%= image_tag "IMG_3484.JPG"%>
      <div class = "carousel-caption" , class: "img-responsive">
        <h2>My Girls</h2>
        <p> They are all my girlfriends</p>
      </div>
    </div>
    <div class = "item" id = "active2">
      <!--<img src = "" alt ="image-2" class = "img-responsive">-->
      <%= image_tag "IMG_2268.JPG", class: "img-responsive" %>
      <div class = "carousel-caption">
        <h2>My Girls</h2>
        <p> They are all my girlfriends</p>
      </div>
    </div>
    <div class = "item" id = "active3">
      <!--<img src = "" alt ="image-3" class = "img-responsive">-->
      <%= image_tag "IMG_2269.JPG", class: "img-responsive" %>
      <div class = "carousel-caption">
        <h2>My Girls</h2>
        <p> They are all my girlfriends</p>
      </div>
    </div>
  </div>
</div>
<a class = "carousel-control left" id="carousel-left" href = "#mycarousel" data-slide = "prev">
  <span class = "icon-prev"></span>
</a>
<a class = "carousel-control right" id="carousel-right" href = "#mycarousel" data-slide = "next">
  <span class = "icon-next"></span>
</a>

<script src = "js/jquery-1.9.1.min.js"></script>
<script src = "js/bootstrap.min.js"></script>
<script>
  $("#mycarousel").carousel({
    intervel : 1000,
    cycle : true
  });
</script>

<div class= "main-body">
  <div class="row">
    <div class="col-md-5">
      <div class = "video-title1">
        <p>Speeches at UC Berkeley</p>
      </div>
      <iframe src="https://youtube.com/embed/R5ScvMqmESY"></iframe>
      <iframe src="https://youtube.com/embed/27IWc5yz9ho"></iframe>
    </div>
    <div class="col-md-7">
      <p><strong>Xuncheng Zhang</strong> has 1000 girlfriends. The first nine episodes alternate between the present-day timeline in medias res, depicting Wes, Connor, Michaela, and Laurel covering up Sam's murder by disposing of his body, and the flashbacks detailing the course of events leading up to Sam's death: Annalise becomes involved in the Lila Stangard investigation at Wes' urging, leading her to discover Sam's affair and creating suspicion that he killed Lila. The final six episodes explore Annalise's attempt to help her interns cover up Sam's murder and legally implicate Sam in Lila's death, and flashbacks to Lila's final moments before her murder.</p>
      <p>Annalise Keating is a prominent criminal defense attorney and a law professor at Middleton University in Philadelphia. She selects five students to intern at her firm: Wes Gibbins, Connor Walsh, Michaela Pratt, Asher Millstone, and Laurel Castillo. They work with Annalise's employees, Frank Delfino and Bonnie Winterbottom, an associate lawyer. As Season 1 introduces occasional clients for Keating, it explores two related murders through both flashback and flashforward sequences: Lila Stangard, mistress of Annalise's husband Sam Keating and a student at Middleton; and then Sam Keating at the hands of Annalise's interns.</p>
      <p>The first nine episodes alternate between the present-day timeline in medias res, depicting Wes, Connor, Michaela, and Laurel covering up Sam's murder by disposing of his body, and the flashbacks detailing the course of events leading up to Sam's death: Annalise becomes involved in the Lila Stangard investigation at Wes' urging, leading her to discover Sam's affair and creating suspicion that he killed Lila. The final six episodes explore Annalise's attempt to help her interns cover up Sam's murder and legally implicate Sam in Lila's death, and flashbacks to Lila's final moments before her murder.</p>
    </div>
  </div>
</div>