<div class = "veritical-nav">
  <ul>
    <li><a href="default.asp">What's your impression about me</a></li>
    <li><a href="news.asp">Which type of girls do you think I love the most</a></li>
    <li><a href="contact.asp">Other messages</a></li>
</ul>
</div>